#########################################
# log files
#########################################
log*/*
slurm-*

#########################################
# temp files
#########################################
__pycache__/
desktop.ini
tmp/
*~
\#*\#
