#########################################
# log files
#########################################
iterate.dat
log*/*
slurm-*

#########################################
# temp files
#########################################
*~
\#*\#
__pycache__/
desktop.ini

#########################################
# exported files
#########################################
*exported.*
out*/*
res*/*